pre {
	margin: 0;
	border-radius: 0.5rem;
	overflow-x: auto;

	code {
		border-radius: 0;
		background-color: transparent;
		padding: 0;
		white-space: pre;
	}
}

code {
	border-radius: 0.25rem;
	background-color: var(--background-secondary);
	padding-inline: 0.25rem;
	padding-block: 0.125rem;
	font-size: 0.875rem;
	line-height: 1.5;
	font-family: monospace;
}
