table,
[role="table"] {
	display: table;
	border-spacing: 0;
	width: 100%;

	tr,
	[role="row"] {
		display: table-row;
		transition: background-color 0.2s;
		height: 2rem;
		text-decoration: none;
		&:not(thead),
		&:not([role="rowgroup"]) {
			&:hover {
				background-color: var(--background-secondary);
			}
		}
	}

	th,
	td,
	[role="cell"],
	[role="rowheader"],
	[role="columnheader"] {
		display: table-cell;
		padding: 1rem 0.5rem;
	}

	thead,
	header[role="rowgroup"] {
		display: table-header-group;
		color: var(--color-muted);
		font-weight: 400;
		text-align: left;
	}
}
