@use "sass:map";
@use "./partials/breakpoints";

html {
	background-color: var(--background);
	color: var(--color);
	font-synthesis-weight: none;
	text-rendering: optimizeLegibility;
}

* {
	color: var(--color);
	outline-color: var(--color);
	border-color: var(--border);
}
