html {
    background-color: var(--background);
    color: var(--color);
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
}

* {
    outline-color: var(--color);
    border-color: var(--border);
}
