html {
    --border: #27272a;
    --color: #fafafa;
    --color-primary: #09090b;
    --color-secondary: #fafafa;
    --color-danger: #fafafa;
    --color-muted: #a1a1aa;
    --background: #09090b;
    --background-primary: #fafafa;
    --background-secondary: #27272a;
    --background-danger: #7f1d1d;
}
