:root {
	color-scheme: light dark;
	--font-family:
		ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--border: light-dark(#d4d4d8, #27272a);
	--color: light-dark(#09090b, #fafafa);
	--color-primary: light-dark(#fafafa, #09090b);
	--color-secondary: light-dark(#09090b, #fafafa);
	--color-danger: light-dark(#09090b, #fafafa);
	--color-muted: light-dark(#71717a, #a1a1aa);
	--background: light-dark(#fafafa, #09090b);
	--background-primary: light-dark(#09090b, #fafafa);
	--background-secondary: light-dark(#e4e4e7, #27272a);
	--background-danger: light-dark(#fee2e2, #7f1d1d);
}
