<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light dark" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/github-dark.min.css">
		<script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>
	</head>

	<body data-layout="website">
		<header>
			<nav>
				<a href="/">launch.css</a>
				<menu>
					<li><a href="/install">Install</a></li>
					<li><a href="/docs">Examples</a></li>
					<li><a role="button" href="https://github.com/torstendittmann/launch-css">GitHub</a></li>
				</menu>
			</nav>
		</header>
		{{> @partial-block }}
	</body>
	<script type="module" src="./main.js"></script>
</html>