<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light dark" />
		<meta name="description" content="A classless CSS framework built for speed. Style your website later—build it now." />
		<meta name="robots" content="index, follow" />
		<title>{{ title }}</title>
		
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ title }}" />
		<meta property="og:description" content="A classless CSS framework built for speed. Style your website later—build it now." />
		<meta property="og:image" content="https://launch-css.dev/og.png" />
		
		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="{{ title }}" />
		<meta name="twitter:description" content="A classless CSS framework built for speed. Style your website later—build it now." />
		<meta name="twitter:image" content="https://launch-css.dev/og.png" />
		
		<!-- Favicon -->
		<link rel="icon" href="/logo.svg" type="image/svg+xml" />
		
		<script defer src="https://cloud.umami.is/script.js" data-website-id="8c20b3c7-dd6d-4e57-bf9d-135879bc574a"></script>
	</head>

	<body data-layout="website" hx-ext="preload">
		<header>
			<nav hx-boost="true" preload="mouseover">
				<a href="/">launch.css</a>
				<menu>
					<li><a href="/install.html" {{#if isInstallPage}}aria-current="page"{{/if}}>Install</a></li>
					<li><a href="/docs.html" {{#if isDocsPage}}aria-current="page"{{/if}}>Examples</a></li>
					<li><a role="button" href="https://github.com/torstendittmann/launch.css" target="_blank">GitHub</a></li>
				</menu>
			</nav>
		</header>
		{{> @partial-block }}
	</body>
	<script type="module" src="./main.js"></script>
</html>