<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="color-scheme" content="light dark" />
		<title>{{ title }}</title>
		<script defer src="https://cloud.umami.is/script.js" data-website-id="8c20b3c7-dd6d-4e57-bf9d-135879bc574a"></script>
	</head>

	<body data-layout="website">
		<header>
			<nav hx-boost="true">
				<a href="/">launch.css</a>
				<menu>
					<li><a href="/install">Install</a></li>
					<li><a href="/docs">Examples</a></li>
					<li><a role="button" href="https://github.com/torstendittmann/launch-css">GitHub</a></li>
				</menu>
			</nav>
		</header>
		{{> @partial-block }}
	</body>
	<script type="module" src="./main.js"></script>
</html>